* {
    margin: 0;
    padding: 0;
    max-width: 750px;
}

@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=IBM+Plex+Sans&family=Nunito&display=swap");

$background_color: rgb(255, 255, 255);
$footer_background_color: rgb(231, 231, 211);
$primary_font_color: rgb(42, 42, 133);
$secondary_font_color: rgb(86, 196, 233);
$button_text_color: white;
$title_font: "Boogaloo";
$primary_font: "IBM Plex Sans";
$blue_font: "Nunito";

body {
    height: auto;
    background-color: $background_color;
    font-size: 45px;
    margin: 80px 40px 0;
}

.header,
    .header * {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
}

.header {
    justify-content: space-between;
    width: 100%;
}

.logo {
    font-family: $title_font;
    color: $primary_font_color;
    width: 50%;
    height: 100%;
    justify-content: space-between;
}

#login {
    border: 2px solid navy;
    background-color: $background_color;
    color: $primary_font_color;
    width: 220px;
    height: 90px;
    text-align: center;
    border-radius: 5px;
    font-family: $primary_font;
    font-size: 35px;
    padding: 5px 0 5px 0;
}

#login:hover {
    background-color: navy;
    color: white;
}




a:link,
a:visited {
    text-decoration: none;
}

.button {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto 145px;
}

.two_buttons {
    background-color: navy;
    color: white;
    display: block;
    width: 300px;
    height: auto;
    text-align: center;
    border-radius: 5px;
    padding: 20px 40px;
    font-family: $primary_font;
    font-size: 35px;
}

.two_buttons:hover {
    background-color: white;
    color: blue;
    border: 2px solid blue;
}

.footer {
    background-color: $footer_background_color;
    height: auto;

    a {
        padding: 30px 0px 30px 0px;
        width: 100%;
        height: 33%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: navy;
        font-size: 45px;
        font-weight: bold;
    }
}

.bottom_link:hover {
    background-color: blue;
    color: white;
}