* {
    margin: 0;
    padding: 0;
    max-width: 750px;
    height: auto
}

@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=IBM+Plex+Sans&family=Nunito&display=swap");

$background_color: rgb(255, 255, 255);
$footer_background_color: rgb(231, 231, 211);
$primary_font_color: rgb(42, 42, 133);
$secondary_font_color: rgb(86, 196, 233);
$button_text_color: white;
$title_font: "Boogaloo";
$primary_font: "IBM Plex Sans";
$blue_font: "Nunito";

body {
    height: auto;
    background-color: $background_color;
    font-size: 45px;
    margin: 80px 40px 0;
}

.header,
    .header * {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
}

.header {
    justify-content: space-between;
    width: 100%;
}

.logo {
    font-family: $title_font;
    color: $primary_font_color;
    width: 50%;
    height: 100%;
    justify-content: space-between;
}

#login {
    border: 2px solid navy;
    background-color: $background_color;
    color: $primary_font_color;
    width: 220px;
    height: 90px;
    text-align: center;
    border-radius: 10px;
    font-family: $primary_font;
    font-size: 35px;
    padding: 5px 0 5px 0;
}

#login:hover {
    background-color: navy;
    color: white;
}

.top,
    .top * {
        display: flex;
        flex-direction: column;
        align-items: center;
}

.top h2 {
        font-family: $blue_font;
        color: $secondary_font_color;
        text-align: center;
        font-size: 55px;
        font-weight: bolder;
        padding: 25px 40px 50px;
        width: 90%;
        height: 90%;
    }

.top p {
    font-family: $primary_font;
    text-align: center;
    padding: 30px 0 30px 0;
} 

#a {
    color: $primary_font_color;
    font-weight: bolder;
    margin: 30px 0 0 0;
}

#b {
    color: $secondary_font_color;
    font-weight: bolder;
    font-size: 2.5rem;
}

#c {
    color: $primary_font_color;
    font-weight: lighter;
    font-size: 2rem;
}


h3 {
    text-align: center;
    font-size: 3rem;
    font-family: $primary_font;
    width: 100%;
    margin-bottom: 40px;
}

.center,
    .center div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

.center {
    font-family: $primary_font;
    color: $primary_font_color;
    font-size: 35px;
}

#one {
    flex-direction: row;
}

#two {
    flex-direction: row;
}

#three {
    flex-direction: row;
}

#four {
    flex-direction: row;
}

a:link,
a:visited {
    text-decoration: none;
}

.button {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto 145px;
}

.two_buttons {
    background-color: navy;
    color: white;
    display: block;
    width: 300px;
    height: auto;
    text-align: center;
    border-radius: 5px;
    padding: 20px 40px;
    font-family: $primary_font;
    font-size: 35px;
    font-weight: bolder;
}

.two_buttons:hover {
    background-color: white;
    color: blue;
    border: 2px solid blue;
}

.footer {
    background-color: $footer_background_color;
    height: auto;

    a {
        padding: 30px 0px 30px 0px;
        width: 100%;
        height: 33%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: navy;
        font-size: 45px;
        font-weight: bold;
    }
}

.bottom_link:hover {
    background-color: blue;
    color: white;
}